<div data-controller="chart-form">
  
  <div class="header-container">
    <small><%= @stock.name %></small>
    <hr>
    <h1 class="m-0">
      $<%= @stock.price %>
    </h1>
  </div>
    <% timespan = @timespan =="day" ? "Daily" : @timespan.upcase + "LY" %>
    <% window = @window %>

    <%= line_chart @timestamp.zip(@value).to_h, height: '500px', xtitle: '', ytitle: 'Price', library: { hAxis: { title: 'TimeStamp' }, vAxis: { title: 'Value' } } %>
    <p class="text-center"><%= "#{timespan} #{window}EMA" %></p>
  </div>
  <div class="chart-and-form-container">
    <div class="form-container">
      <%= form_with(url: stock_path(@stock), method: :get, id: 'chart-form') do |f| %>
        <div class="form-inputs">
          <div class="form-group inline-form-element">
            <%= f.label :timespan %>
            <%= f.select :timespan, ['day', 'week', 'month', 'quarter', 'year'], {}, data: { chart_form_target: 'timespan' } %>
          </div>

          <div class="form-group inline-form-element">
            <%= f.label :window %>
            <%= f.select :window, [10, 20, 50, 100, 200], {}, data: { chart_form_target: 'window' }%>
          </div>

          <div class="form-group inline-form-element">
            <%= f.submit "Update", class: "btn btn-primary btn-sm p-0" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
